@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    @apply w-screen;
    @apply h-screen;
    @apply bg-slate-800;
    @apply flex;
    @apply flex-col;
}

.nav-bar {
    @apply sticky;
    @apply top-0;
    @apply bg-sky-500;
    @apply h-14;
    @apply rounded-b-xl;
    @apply flex;
    @apply justify-start;
    @apply drop-shadow-lg;
    @apply z-50;
}

%nav-bar-item-template {
    @apply px-3;
    @apply hidden;
    @apply sm:flex;
    @apply items-center;
    @apply justify-center;
    @apply select-none;
    @apply hover:cursor-pointer;
    @apply hover:bg-sky-400;
}

.nav-bar-item {
    @extend %nav-bar-item-template;
}

.nav-bar-item-first {
    @extend %nav-bar-item-template;
    @apply flex;
    @apply hover:cursor-default;
    @apply hover:bg-sky-500;
    @apply pl-3;
    @apply sm:pl-5;
    @apply rounded-bl-xl;
    @apply mr-3;
}

.nav-bar-item-last {
    @extend %nav-bar-item-template;
    @apply rounded-br-xl;
}

.mobile-nav-bar-item {
    @extend %nav-bar-item-template;
    @apply rounded-br-xl;
    @apply hover:bg-sky-500;
    @apply flex;
    @apply sm:hidden;
}

.mobile-nav-bar-dropdown {
    @apply absolute;
    @apply hidden;
    @apply flex-col;
    @apply top-14;
    @apply right-0;
    @apply w-fit;
    @apply h-fit;
    @apply bg-sky-500;
    @apply rounded-b-xl;
    @apply drop-shadow-lg;
    @apply z-50;
}

%mobile-nav-bar-dropdown-item-template {
    @apply px-3;
    @apply py-1;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply select-none;
    @apply hover:bg-sky-400;
}

.mobile-nav-bar-dropdown-item {
    @extend %mobile-nav-bar-dropdown-item-template;
}

.mobile-nav-bar-dropdown-item {
    @extend %mobile-nav-bar-dropdown-item-template;
}

.mobile-nav-bar-dropdown-item-last {
    @extend %mobile-nav-bar-dropdown-item-template;
    @apply rounded-b-xl;
}

.nav-bar-text {
    @apply font-sans;
    @apply text-xl;
    @apply sm:text-2xl;
    @apply antialiased;
    @apply font-semibold;
    @apply text-slate-800;
}

.nav-bar-title {
    @apply font-mono;
}

.main-view {
    @apply w-screen;
    @apply flex;
    @apply flex-col;
    @apply flex-grow;
}

.title {
    @apply w-screen;
    @apply h-fit;
    @apply flex;
    @apply justify-center;
    @apply py-10;
}

.title-container {
    @apply w-fit;
    @apply h-fit;
    @apply border-4;
    @apply border-solid;
    @apply border-sky-500;
    @apply rounded-2xl;
    @apply p-3;
    @apply drop-shadow-lg;
    @apply z-10;
}

.title-text {
    @apply font-sans;
    @apply text-4xl;
    @apply sm:text-6xl;
    @apply antialiased;
    @apply font-bold;
    @apply text-sky-500;
    @apply select-none;
    @apply hover:cursor-default;
}

.shadow {
    @apply absolute;
    @apply w-fit;
    @apply h-fit;
    @apply border-4;
    @apply border-solid;
    @apply rounded-2xl;
    @apply p-3;
    @apply blur-sm;
    @apply drop-shadow-lg;
    @apply z-0;

    transform: skewX(-30deg) scaleY(.5) scaleX(.97) translateY(3.5rem) translateX(1.75rem);
    border-color: rgb(14, 18, 28);
}

.shadow-text {
    @apply font-sans;
    @apply text-4xl;
    @apply sm:text-6xl;
    @apply antialiased;
    @apply font-bold;
    @apply select-none;
    @apply hover:cursor-default;

    color: rgb(14, 18, 28);
}

.footer {
    @apply w-screen;
    @apply h-10;
    @apply bg-sky-500;
    @apply rounded-t-xl;
    @apply flex;
    @apply flex-row;
    @apply justify-start;
}

%footer-item-template {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply select-none;
    @apply px-3;
}

.github-footer-item {
    @extend %footer-item-template;
    @apply rounded-tl-xl;
    @apply hover:cursor-pointer;
    @apply hover:bg-sky-400;
}

.github-logo {
    @apply w-8;
    @apply h-8;
    @apply rounded-full;
}

.footer-item-right {
    @extend %footer-item-template;
    @apply rounded-tr-xl;
    @apply hover:cursor-default;
}

.footer-text {
    @apply font-sans;
    @apply text-base;
    @apply antialiased;
    @apply text-slate-700;
}